.inspector {
	height: 100%;
	display: grid;
	grid-template-rows: min-content auto;
	
}
.inspector-content {
	padding-inline: 1em;
	padding-block-end: 1em;
	display: flex;
	flex-direction: column;
	gap: .5em;
	overflow: auto;
	/* scrollbar-gutter: stable; */
}