.context-menu {
	position: relative;
	z-index: 99999;
	display: grid;

	grid-template-columns: auto;

	--cmenu-bwidth: var(--theme-border-width);
	--cmenu-border: var(--cmenu-bwidth) solid var(--theme-bd-0);

	min-width: 10em;
	width: fit-content;
	height: fit-content;
	
	background: var(--theme-bg-0);
	color: var(--theme-fg-0);
	border: var(--cmenu-border);
	border-radius: var(--theme-border-radius);
	overflow: visible;

	box-shadow: 0 0 .25em #000;

	& > :first-child {
		border-top-left-radius: var(--theme-border-radius);
		border-top-right-radius: var(--theme-border-radius);
	}
	& > :last-child {
		border-bottom-left-radius: var(--theme-border-radius);
		border-bottom-right-radius: var(--theme-border-radius);
	}
	&:not(.open) {
		display: none;
	}
}


.anchor {
	anchor-name: --contextmenu-anchor;
}
.floating-anchor {
	position: fixed;
	z-index: 99999;

	--x: 0px;
	--y: 0px;
	
	left: var(--x);
	top: var(--y);
	anchor-name: --contextmenu-anchor;

	width: 0;
	height: 0;
}

@supports (position-anchor: auto) {
	.context-menu {
		position: fixed;

		position-anchor: --contextmenu-anchor;
		position-area: right span-y-end;
		position-try-fallbacks: 
			left span-y-end,
			right span-y-start,
			left span-y-start
		;

		top: calc(-1 * var(--cmenu-bwidth));
	}
}
@supports not (position-anchor: auto) {
	.context-menu.anchored {
		position: absolute;
		left: 100%;
		top: calc(-1 * var(--cmenu-bwidth));
	}
	.context-menu.floating {
		position: relative;
	}
}

/* #region items */
.item {
	display: block;
	padding: .25em .5em .25em .5em;
	user-select: none;

	.section + & {
		border-top: var(--cmenu-border);
	}
}
.single:hover, .submenu:hover {
	background-color: var(--theme-primary-bg-0);
	color: var(--theme-primary-fg-0);
}

/* #region single */
.single {
	&.has-icon {
		display: grid;
		grid-template-areas: "icon content";
		grid-template-columns: min-content auto;
		place-items: center start;
		gap: .25em;
	}
}
/* #endregion */

/* #region section */
.section {
	display: grid;
	user-select: none;
	padding: .25em 0;
	/* items are in a ul, so this doesn't affect them */
	gap: .25em;

	&:not(:first-child) {
		border-top: var(--cmenu-border);
	}
}
.title-wrapper {
	padding: 0 0 0 .75em;
}
.title {
	opacity: 0.5;
	font-size: .75em;
}
/* #endregion */

.submenu {
	position: relative;
	display: grid;
	grid-template-columns: max-content auto min-content;
	grid-template-areas: "content . icon";
	anchor-name: --contextmenu-anchor;

	align-items: center;
}
.icon {
	grid-area: icon;
	aspect-ratio: 1 / 1;
	opacity: 0.5;
}

.error {
	width: fit-content;
	min-width: 15em;
	min-height: 20em;
	overflow: auto;
	position: relative;

	border: var(--theme-border-width) solid var(--theme-error-bd);
	resize: both;
}