.context-menu {
}

.anchor {
	anchor-name: --contextmenu-anchor;
}
.floating-anchor {
	position: fixed;
	z-index: 99999;

	--x: 0px;
	--y: 0px;
	
	left: var(--x);
	top: var(--y);
	anchor-name: --contextmenu-anchor;

	width: 0;
	height: 0;
}

@supports (position-anchor: auto) {
	.context-menu {
		position: fixed;
		inset: unset;

		position-anchor: --contextmenu-anchor;
		inset-inline-start: anchor(end);
		inset-block-start: anchor(start);
		position-try-fallbacks: 
			flip-inline,
			flip-block,
			flip-inline flip-block
		;

		&.anchored {
			inset-inline-start: calc(anchor(end) + 0.5em + var(--theme-border-width));
			inset-block-start: calc(anchor(start) - 0.5em - var(--theme-border-width));
		}
	}
}
@supports not (position-anchor: auto) {
	.context-menu.anchored {
		position: absolute;
		left: 100%;
		top: calc(-1 * var(--cmenu-bwidth));
	}
	.context-menu.floating {
		position: relative;
	}
}

/* #region items */

.submenu {
	position: relative;
	anchor-name: --contextmenu-anchor;
	padding-inline-end: .5em;

	/* holy selector spam */
	/* will show context menu when hovered unless another sibling is focused */
	&:not(:not(:has(:focus)) > &:hover, :focus, :focus-within) > .context-menu {
		display: none;
	}

	/* Extend hover range */
	&::before {
		content: "";
		position: absolute;
		inset: 0;
		inset-inline: -0.625em;
	}
}

.error {
	width: fit-content;
	min-width: 15em;
	min-height: 20em;
	overflow: auto;
	position: relative;

	border: var(--theme-border-width) solid var(--theme-error-bd);
	resize: both;
}