@layer component {

.button {
	padding-block: .25em;
	padding-inline: 1em;

	min-height: 2em;
	width: fit-content;
	cursor: pointer;

	display: grid;
	grid-template-areas: "content";
	gap: .5em;
	place-items: center;

	--button-bg: var(--theme-primary-bg-0);
	--button-fg: var(--theme-primary-fg-0);
	--button-bd: var(--theme-primary-bd-0);
	&.primary {
		--button-bg: var(--theme-primary-bg-0);
		--button-fg: var(--theme-primary-fg-0);
		--button-bd: var(--theme-primary-bd-0);
	}
	&.secondary {
		--button-bg: var(--theme-bg-1);
		--button-fg: var(--theme-fg-1);
		--button-bd: var(--theme-bd-1);
	}
	&.positive {
		--button-bg: var(--theme-positive-bg-0);
		--button-fg: var(--theme-positive-fg-0);
		--button-bd: var(--theme-positive-bd-0);
	}
	&.negative {
		--button-bg: var(--theme-negative-bg-0);
		--button-fg: var(--theme-negative-fg-0);
		--button-bd: var(--theme-negative-bd-0);
	}
	&:disabled {
		--button-bg: var(--theme-disabled-bg);
		--button-fg: var(--theme-disabled-fg);
		--button-bd: var(--theme-disabled-bd);
		cursor: not-allowed;
	}
	
	background-color: var(--button-bg);
	color: var(--button-fg);

	border: 1px solid var(--button-bd);
	border-radius: var(--theme-border-radius);

	&:not(:disabled):hover {
		/* background-color: oklch(from var(--button-bg) calc(l * 1.025) c h); */
	}
	&:focus-within {
		
	}

	&.has-icon {
		padding-inline-start: .5em;
		grid-template-areas: "icon content";
	}
	& > .icon {
		grid-area: icon;
		display: grid;
	}
	& > .content {
		grid-area: content;
	}
	&:has(> .content:empty) {
		gap: 0;
	}

}

}