.color-input {
	--colorinput-color: #f0f;
	--colorinput-color-opaque: rgb(from var(--colorinput-color) r g b / 1);
	--colorinput-checker-0: #808080;
	--colorinput-checker-1: #ffffff;
	--colorinput-checker-size: .5em;

	--colorinput-checker-image:
		conic-gradient(
			var(--colorinput-checker-0) 25%,
			var(--colorinput-checker-1) 25%,
			var(--colorinput-checker-1) 50%,
			var(--colorinput-checker-0) 50%,
			var(--colorinput-checker-0) 75%,
			var(--colorinput-checker-1) 75%
		);
}

.color-button {
	display: grid;
	grid-template-areas: "all";
	width: 5em;
	height: 2.5em;
	overflow: clip;

	border-radius: var(--theme-border-radius);

	&::before {
		content: "";
		grid-area: all;
		background-color: var(--colorinput-checker-1);
		background-image: linear-gradient(var(--colorinput-color)), var(--colorinput-checker-image);
		background-size: 
			cover,
			var(--colorinput-checker-size) var(--colorinput-checker-size)
		;
		background-position: 0 0;
		
		clip-path: polygon(200% 200%, 100% 0, 40% 40%, 0 100%);
	}
	&::after {
		content: "";
		grid-area: all;
		background-color: var(--colorinput-color-opaque);
		clip-path: polygon(-100% -100%, 100% 0, 0 100%);
	}
}
.color-popover {
	width: fit-content;
	height: fit-content;
	
	padding: .75em;
	gap: .5em;
	
	border: var(--theme-border-width) solid var(--theme-bd-0);
	border-radius: var(--theme-border-radius);
	background-color: var(--theme-bg-0);
	color: var(--theme-fg-0);
	
	&:popover-open { 
		display: grid;
	}
	@supports (position-anchor: auto) {
		inset: unset;

		position-try-fallbacks: 
			flip-inline,
			flip-block,
			flip-inline flip-block
		;
		
		inset-inline-start: calc(anchor(start));
		inset-block-start: calc(anchor(end));
	}
}

.square {
	width: 100%;
	height: unset;
	aspect-ratio: 1;
	user-select: none;
	cursor: grab;

	& .handle {
		width: 1em;
		height: 1em;

		background-color: var(--colorinput-color-opaque);
		border: var(--theme-border-width) solid var(--theme-bg-0);
	}
}
.slider {
	width: 100%;
	height: 1em;
	border-radius: 0;
	background: none;
	
	& .handle {
		width: .5em;
		height: 1.25em;
		border-radius: 0;

		background-color: var(--colorinput-color-opaque);
		border: var(--theme-border-width) solid var(--theme-bg-0);
	}
}

.inputs {
	display: grid;
	grid-template-rows: 2em 2em;
	grid-auto-columns: 1fr;
	grid-auto-flow: row;
	column-gap: .25em;

	width: 15em;
}
.label {
	grid-template-rows: subgrid;
	grid-template-columns: auto;
	grid-row: 1 / -1;
	place-items: center;
	gap: 0;
}
.input {
	width: 100%;
	min-width: 0;
	padding-inline: .5em;
	padding-block: .25em;
	min-height: 1.5em;
	height: 2em;
	display: block;
}

.hsv {
	--colorinput-hue: 0deg;

	display: grid;
	gap: .5em;
}
.sv-square {
	background-image: 
		linear-gradient(to bottom, transparent, hsl(0 100% 0%)),
		linear-gradient(to right, 
			hsl(var(--colorinput-hue) 0% 100%), 
			hsl(var(--colorinput-hue) 100% 50%)
		)
	;
}
.h-slider {
	background-image: linear-gradient(to right in hsl increasing hue,
		hsl(from var(--colorinput-color-opaque) 0deg s l),
		hsl(from var(--colorinput-color-opaque) 180deg s l),
		hsl(from var(--colorinput-color-opaque) 360deg s l)
	);
}
.a-slider {
	background-color: var(--colorinput-checker-1);
	background-image: 
		linear-gradient(to right, transparent, var(--colorinput-color-opaque)), 
		var(--colorinput-checker-image);
	background-size: 
		cover,
		var(--colorinput-checker-size) var(--colorinput-checker-size)
	;
	background-position: 0 0;
}