.select {
	position: relative;
	width: fit-content;
	height: fit-content;

	&:not(:has(> .options:popover-open)) {
		& > .current {
			& > .arrow-opened { display: none; }
		}
	}
	&:has(> .options:popover-open) {
		& > .current {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;

			& > .arrow-closed { display: none; }
		}
	}
}
.current {
	display: flex;
	flex-wrap: nowrap;
	overflow: hidden;
	
	padding: .25em .25em .25em;
	padding-inline-start: 1em;
	user-select: none;
	background-color: var(--theme-bg-0);
	border: var(--theme-border-width) solid var(--theme-bd-0);
	border-radius: var(--theme-border-radius);
	z-index: 11;

	min-width: 2.5em;

	.open > & {
		z-index: 13;
	}
	&.icon {
		padding-inline-start: .5em;
		& > :first-child {
			display: block;
			align-self: center;
		}
		& > .display:not(:empty) {
			margin-inline-start: .25em;
		}
	}
	&.icon > :first-child,
	& > :last-child {
		display: block;
		align-self: center;
	}
}
.options {
	flex-direction: column;
	flex-wrap: wrap;
	gap: .5em;
	z-index: 12;
	
	width: max-content;
	height: fit-content;
	max-height: 20em;
	padding: .5em;
	padding-block-start: .25em;

	background-color: var(--theme-bg-0);
	color: var(--theme-fg-0);
	border: var(--theme-border-width) solid var(--theme-bd-0);

	border-radius: var(--theme-border-radius);
	border-top-left-radius: 0;
	border-top-right-radius: 0;

	&:popover-open {
		display: flex;
	}
}

@supports (position-anchor: auto) {
	.options {
		position: absolute;

		inset: auto;
		inset-block-start: calc(anchor(end) - var(--theme-border-width));
		inset-inline-start: anchor(start);
		position-try-fallbacks: 
			flip-inline,
			flip-block,
			flip-inline flip-block
		;
	}
}
@supports not (position-anchor: auto) {
	.options {
		position: absolute;
		top: 100%;
	}
}

.section {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	max-width: 20em;
	gap: 0.25em;

	.label {
		user-select: none;
		opacity: 0.5;
		font-size: 0.75em;
		padding-inline-start: 0.25rem;
	}
}
.option {
	display: flex;
	flex-direction: row;
	place-items: center;
	gap: 0.25em;

	padding-block: .25em;
	padding-inline: 2em 1em;
	
	user-select: none;
	border-radius: var(--theme-border-radius);
	list-style: none;
	min-height: 1.75rem;

	&.selected {
		background-color: var(--theme-primary-bg-1);
		color: var(--theme-primary-fg-1);
	}
	&.icon {
		padding-inline-start: .25em;
	}
	&:hover, &:focus-visible {
		background-color: var(--theme-primary-bg-0);
		color: var(--theme-primary-fg-0);
	}
	&:focus-visible {
		z-index: 2;
	}
	& > .display {
		line-height: 1.25;
		vertical-align: middle;
	}
}