.select {
	position: relative;
	display: grid;
	width: fit-content;
	height: fit-content;
	grid-template-rows: auto 0;

	--select-border: var(--theme-border-width) solid var(--theme-bd-0);

	& > .current {
		display: grid;
		grid-template-columns: min-content auto min-content;
		width: 100%;
		padding: .25em;
		padding-inline-start: 1em;
		user-select: none;

		background-color: var(--theme-bg-0);
		border: var(--select-border);
		border-radius: var(--theme-border-radius);

		z-index: 3;

		&.icon {
			padding-inline-start: .5em;
			& > :first-child {
				margin-right: .25em;
			}
		}
	}
	& > .options {
		display: grid;
		width: 100%;
		z-index: 2;
		
		& > .option {
			padding: .25em 1em;
			padding-inline-start: 2.25em;
			min-height: 2em;
			height: fit-content;
			user-select: none;

			background-color: var(--theme-bg-0);
			color: var(--theme-fg-0);
			border: var(--select-border);
			line-height: 1;
			.display {
				vertical-align: middle;
			}
			
			&:first-child {
				border-top: none;
			}
			&:not(:last-child) {
				border-bottom: none;
			}
			&:last-child {
				border-bottom-left-radius: var(--theme-border-radius);
				border-bottom-right-radius: var(--theme-border-radius);
			}
			&.icon {
				padding-inline-start: .5em;
				& > .display:not(:empty) {
					margin-inline-start: .25em;
				}
			}
			&:hover, &:focus-visible {
				background-color: var(--theme-primary-bg-0);
				color: var(--theme-primary-fg-0);
			}
			&.selected {
				background-color: var(--theme-primary-bg-1);
				color: var(--theme-primary-fg-1);
			}
			&:focus-visible {
				z-index: 2;
			}
		}
	}
	&.open {
		& > .current {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}
	}
	&:not(.open) > .options {
		visibility: hidden;
	}
}