@layer component {

.form-section {
	display: flex;
	/* min-width: fit-content; */
	--form-section-gap: .25em;
	gap: var(--form-section-gap) .5em;

	flex-wrap: wrap;
	flex-direction: column;
	&.row { 
		flex-direction: row; 
		align-items: center;
	}
	&.raised {
		background-color: var(--theme-bg-1);
	}
}
.title {
	font-size: 1.25em;
	font-weight: 500;
	margin-bottom: 0.125em;
}
.label {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: min-content auto;
	gap: .5em;
	align-items: center;

	&:has(> .input:first-child) {
		grid-template-columns: auto;
	}
}
.label-content {
	height: min-content;
}
.input {
	display: block;
	padding-block: .5em;
	padding-inline: 1em .5em;
	min-height: 2.5em;

	font-size: 1em;
	background: none;
	border: var(--theme-bd-0) solid var(--theme-border-width);
	border-radius: var(--theme-border-radius);

	&::-webkit-inner-spin-button {
		appearance: none;
	}
	&:focus {
		outline: none;
		border-color: var(--theme-primary-bg-0);
	}
	&:disabled {
		background-color: var(--theme-disabled-bg);
		border-color: var(--theme-disabled-bd);
		color: var(--theme-disabled-fg);
		cursor: not-allowed;
	}
}
.input[type=number] {
	min-width: 3.5em;
	max-width: 7.5em;
}
.input[type=text] {
	min-width: 5em;
	max-width: 15em;
}

}