.form-section {
	display: flex;
	min-width: fit-content;
	gap: .25em .5em;

	flex-wrap: wrap;
	flex-direction: column;
	&.row { flex-direction: row; }
}
.label {
	display: grid;
	gap: .25em;
	grid-template-areas: "label input";
	place-items: center;
	max-width: 100%;
}
.label-content {
	height: min-content;
}
.input[type=number],
.input[type=text] {
	display: block;
	padding: 0.5em 1em;
	width: 7.5em;
	height: 2.5em;

	font-size: 1em;
	background: none;
	border: var(--theme-bd-0) solid var(--theme-border-width);
	border-radius: var(--theme-border-radius);

	&::-webkit-inner-spin-button {
		appearance: none;
	}

	&:focus {
		outline: none;
		border-color: var(--theme-primary-bg-0);
	}
}