.input {
	display: block;
	padding: 0.5em 1em;
	width: fit-content;
	height: 2.5em;

	font-size: 1em;
	background: none;
	border: var(--theme-border-0) solid var(--theme-border-width);
	border-radius: var(--theme-border-radius);

	&::-webkit-inner-spin-button {
		appearance: none;
	}

	&:focus {
		outline: none;
		border-color: var(--theme-primary-bg-0);
	}
}
.label {
	display: grid;
	grid-template-areas: "input";
	grid-template-columns: auto;
	/* gap: .5em; */

	&:has(> .label-content) {
		grid-template-areas: "content input";
		grid-template-columns: 2.5em auto;
	}
	& > .label-content {
		display: grid;
		grid-area: content;
		place-self: center;
	}
	& > .input {
		grid-area: input;
	}
}