.table {
	--table-border: var(--theme-border-width) solid var(--theme-bd-0);
	--columns: 1;
	display: grid;
	grid-template-columns: min-content repeat(var(--columns), 1fr);
	&:has(.remove) {
		grid-template-columns: min-content repeat(var(--columns), 1fr) min-content;
	}
}
.details {
	display: grid;
	grid-template-columns: subgrid;
	grid-column: 1 / -1;
}
.summary {
	display: grid;
	grid-template-columns: subgrid;
	grid-column: 1 / -1;
	grid-row: 1 / 2;
	
	padding: .5em;
	border: var(--table-border);
	.details.open > & {
		background-color: var(--theme-bg-1);
		color: var(--theme-fg-1);
		border-color: var(--theme-bd-1);
	}
	:not(:last-child, .open) > & {
		border-block-end: none;
	}
}
.arrow {
	padding-inline-end: .5em;
	&::after {
		font: 1.25em "Material Symbols Outlined";
		line-height: 1;
		content: "arrow_right";
	}
	&:dir(rtl)::after {
		content: "arrow_left";
	}
	.open > .summary > &::after {
		content: "arrow_drop_down";
	}
}
.details-content {
	grid-column: 1 / -1;

	padding: .5em;
	border: var(--table-border);
	border-block-start: none;

	:not(:last-child) > & {
		border-block-end: none;
	}
	.details:not(.open) > & {
		display: none;
	}
}
.remove {
	background: none;
	border: none;
	padding: 0;
	font-size: .75em;
	opacity: .75;

	place-self: start end;
	&:hover {
		color: var(--theme-negative-fg-0);
	}
}
.add-cell {
	grid-column: 1 / -1;
	display: grid;
	place-items: center;
	border: var(--table-border);
}
.add {
	background: none;
	border: none;
	padding: 0;
	width: 100%;
	grid-template-columns: 1fr 0;
}