.error {
	padding: 1em;
	background-color: var(--theme-error-bg);
	color: var(--theme-error-fg);
	position: absolute;
	inset: 0;
	overflow: auto;
	font-family: monospace;

	& > h1 {
		font-size: 3em;
	}
	& > pre {
		tab-size: 4;
	}
	& button {
		all: unset;
		font-family: inherit;
		cursor: pointer;
		text-decoration: underline;
		margin: 1em;
	}
}
.face {
	white-space: nowrap;
}