.error {
	--theme-error-bg: oklch(.10 .50 10);
	--theme-error-fg: oklch(.95 .01 10);

	padding: 1em;
	background-color: var(--theme-error-bg);
	color: var(--theme-error-fg);
	position: absolute;
	inset: 0;
	overflow: auto;

	& > h1 {
		font-size: 3em;
		margin-bottom: 1rem;
		font-family: monospace;
	}
	& > pre {
		tab-size: 4;
	}
}