.toasts {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: end;
	gap: 1em;
	max-height: 100%;
	overflow-x: clip;
	overflow-y: auto;
	
	pointer-events: none;
	inset-inline-end: 0;
	inset-block-end: 0;

	padding-block: 1em;
}

.toast {
	display: grid;
	grid-template-areas: "content close";
	grid-template-columns: auto min-content;
	column-gap: 1em;

	pointer-events: all;

	--color: #e0e0e0;
	--highlight-width: .5em;
	--timer-size: .25em;

	background-color: var(--theme-bg-0);
	box-shadow: var(--theme-shadow);
	border-inline-start: var(--highlight-width) solid var(--color);
	border-start-start-radius: var(--theme-border-radius);
	border-end-start-radius: var(--theme-border-radius);

	@media not (prefers-reduced-motion: reduce) {
		translate: 0 0;
		transition: translate .2s;
		@starting-style {
			translate: 100% 0;
			&:dir(rtl) {
				translate: -100% 0;
			}
		}
	}

	&.timed {
		grid-template-areas: "content close" "timer timer";
		grid-template-rows: auto min-content;
	}

	&.info { --color: var(--theme-primary-bg-0); }
	&.error { --color: var(--theme-negative-bg-0); }
	&.warn { --color: var(--theme-warn-bg-0); }
	&.success { --color: var(--theme-positive-bg-0); }
}
.content {
	padding-inline-start: 1.5em;
	padding-block: 1em;
	
	width: fit-content;
	min-width: 10em;
	max-width: min(75dvw, 30em);

	overflow-x: auto;
}
.close {
	font-size: 0.75em;
	opacity: 0.75;
	place-self: start;
	padding: 0.5em;

	&:hover, &:focus-visible {
		opacity: 1;
	}
}
.timer {
	grid-area: timer;
	height: var(--timer-size);
	background-color: var(--color);
	--duration: 10s;
	transition: scale var(--duration) linear;

	transform-origin: left;
	&:dir(rtl) { transform-origin: right; }

	scale: 0 1;

	@starting-style {
		scale: 1 1;
	}
}