.select {
	position: relative;
	width: fit-content;
	height: fit-content;

	&:not(:has(> .options:popover-open)) > .current > .arrow-opened,
	&:has(> .options:popover-open) > .current > .arrow-closed { display: none; }
}
.current {
	display: flex;
	flex-wrap: nowrap;
	overflow: hidden;
	
	padding: .25em;
	padding-inline-start: 1em;
	user-select: none;
	background-color: var(--theme-bg-0);
	border: var(--theme-border-width) solid var(--theme-bd-0);
	border-radius: var(--theme-border-radius);

	min-width: 2.5em;

	&.icon {
		padding-inline-start: .5em;
		& > :first-child {
			display: block;
			align-self: center;
		}
		& > .label:not(:empty) {
			margin-inline-start: .25em;
		}
	}
	&.icon > :first-child,
	& > .arrow {
		display: block;
		align-self: center;
	}
}

@supports (position-anchor: auto) {
	.options {
		position: absolute;

		inset: auto;
		inset-inline-start: anchor(start);
		inset-block-start: calc(anchor(end) - var(--theme-border-width));
		position-try-fallbacks: 
			flip-inline,
			flip-block,
			flip-inline flip-block
		;
	}
}

@supports not (position-anchor: auto) {
	.options {
		position: absolute;
		top: 100%;
	}
}