.toolbar {
	pointer-events: painted;
}

/* Specificity shenanigans? */
.button.button {
	padding: .25em .75em .25em .75em;
	user-select: none;
	--button-fg: var(--theme-fg-0);
	--button-bg: var(--theme-bg-0);
	--button-bd: var(--theme-bd-0);
}
.selector {
	display: flex;
	flex-direction: row;
	gap: .5em;
}