.view {
	/* overflow: hidden; */
	position: absolute;
	inset: 0;
}
.unknown {
	display: grid;
	grid-template-rows: min-content auto;
	padding: 0.5em;
	
	& > :first-child {
		height: min-content;
	}
	& > div {
		flex: 1;
		overflow: hidden;
		& > h1 {
			padding: 0.5rem;
			font-family: monospace;
		}
	}
}
/* .empty {
	padding: 0.5rem;
	display: grid;
	height: 100%;
	grid-template-areas: 
		"bar"
		"content"
	;
	grid-template-rows: min-content auto;
}
.empty-content {
	place-self: center;
	opacity: 0.5;
	user-select: none;
	font-style: italic;
} */