.topbar {
	display: flex;
	flex-direction: row;
	place-items: center;
	list-style: none;
	border-block-end: var(--theme-border-width) solid var(--theme-bd-0);
	min-height: 2.5em;
}
.topbar-item {
	padding-block: .25em;
	height: 100%;
	--anchor-offset-y: 0.25em;

	&:focus-within {
		z-index: 3;
	}
}
.topbar-icon {
	height: 100%;
	aspect-ratio: 1;
	max-width: 3em;
	background-image: url("/logo-transparency.svg");
	background-size: 1.25em 1.25em;
	background-repeat: no-repeat;
	background-position: center;
}
.topbar-item-button {
	display: block;
	height: 100%;
	padding-inline: .75em;
	padding-block: .25em;
	background-color: var(--theme-bg-0);
	border-radius: var(--theme-border-radius);

	&:hover, &:focus-visible {
		background-color: var(--theme-bg-1);
	}
}

.import-issues-list {
	list-style: none;
}
.import-issue-warn > :first-child {
	color: var(--theme-warn-bg-0);
	margin-right: .25em;
}
.import-issue-error > :first-child {
	color: var(--theme-negative-bg-0);
	margin-right: .25em;
}