@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&display=block");
:global(.material-symbols-outlined) {
	/* To get it to align in the middle of text */
	vertical-align: middle;

	user-select: none;
	cursor: default;

	--size: 1.5;
	font-size: calc(var(--size) * 1em);
	/* Make loading icons not take up normal text width */
	width: 1em;
	font-variation-settings:
		'FILL' 0,
		'wght' 350,
		'GRAD' 0,
		'opsz' 24;
}

.custom-icon {
	display: inline-block;
	user-select: none;
	cursor: default;

	--size: 1.5;
	--icon: url("");
	width: calc(var(--size) * 1em);
	height: calc(var(--size) * 1em);
	background-color: currentColor;
	mask-image: var(--icon);
}