:root {
	/* default theme */
	--theme-background-0: #202224;
	--theme-background-1: oklch(from var(--theme-background-0) calc(l * 0.75) calc(c * 2) h);

	--theme-foreground-0: #ffffff;
	--theme-foreground-1: #ffffff;
	
	/* oklch(0.62 0.21 257.83) */
	--theme-primary-bg-0: #2080ff;
	--theme-primary-bg-1: oklch(from var(--theme-primary-bg-0) calc(l * 0.5) c h);
	--theme-primary-fg-0: oklch(from var(--theme-primary-bg-0) calc(1 - (1 - l) * 0.05) calc(c * 0.25) h);
	--theme-primary-fg-1: oklch(from var(--theme-primary-bg-0) calc(1 - (1 - l) * 0.05) calc(c * 0.5) h);
	--theme-primary-bg: var(--theme-primary-bg-0);
	--theme-primary-fg: var(--theme-primary-fg-0);
	
	--theme-secondary-bg-0: oklch(0.6 0.25 298.86);
	--theme-secondary-bg-1: oklch(from var(--theme-secondary-bg-0) calc(l * 1.25) c h);
	--theme-secondary-fg-0: oklch(from var(--theme-secondary-bg-0) calc(1 - (1 - l) * 0.01) calc(c * 0.05) h);
	--theme-secondary-fg-1: oklch(from var(--theme-secondary-fg-0) calc(l * 1.25) c h);
	--theme-secondary-bg: var(--theme-secondary-bg-0);
	--theme-secondary-fg: var(--theme-secondary-fg-0);
	
	--theme-disabled-bg: #404040;
	--theme-disabled-fg: #ffffff;

	--theme-positive-bg-0: oklch(0.6 0.25 150);
	--theme-positive-bg-1: oklch(from var(--theme-positive-bg-0) calc(l * 1.25) c h);
	--theme-positive-fg-0: oklch(from var(--theme-positive-bg-0) calc(1 - (1 - l) * 0.01) calc(c * 0.05) h);
	--theme-positive-fg-1: oklch(from var(--theme-positive-fg-0) calc(l * 1.25) c h);
	
	--theme-negative: oklch(0.6 0.25 20);

	--theme-border-0: #404040;
	--theme-border-1: oklch(from var(--theme-seperator-0) calc(l * 1.5) c h);

	--theme-font: system-ui, sans-serif;

	--theme-border-width: 1px;
	--theme-border-radius: .25rem;
}