:root {
	/* default theme */
	--theme-bg-0: oklch(0.25 0.01 257.83);
	--theme-fg-0: oklch(1.00 0.01 257.83);
	--theme-bd-0: oklch(0.37 0.01 257.83);
	--theme-bg-1: oklch(0.18 0.01 257.83);
	--theme-fg-1: oklch(1.00 0.01 257.83);
	--theme-bd-1: oklch(0.37 0.01 257.83);
	--theme-selection-bg: oklch(0.62 0.21 257.83);
	--theme-selection-fg: oklch(0.05 0.05 257.83);
	--theme-selection-bd: oklch(0.75 0.21 257.83);

	--theme-scrollbar-bg: oklch(0.30 0.01 257.83);
	--theme-scrollbar-fg: oklch(0.50 0.01 257.83);
	
	/* oklch(0.62 0.21 257.83) */
	/* #2080ff */
	--theme-primary-bg-0: oklch(0.62 0.21 257.83);
	--theme-primary-fg-0: oklch(0.95 0.05 257.83);
	--theme-primary-bd-0: oklch(0.75 0.21 257.83);
	--theme-primary-bg-1: oklch(0.40 0.21 257.83);
	--theme-primary-fg-1: oklch(0.90 0.10 257.83);
	--theme-primary-bd-1: oklch(0.50 0.21 257.83);
	
	--theme-secondary-bg-0: oklch(0.60 0.25 298.86);
	--theme-secondary-fg-0: oklch(0.95 0.05 298.86);
	--theme-secondary-bd-0: oklch(0.75 0.25 298.86);
	--theme-secondary-bg-1: oklch(0.40 0.25 298.86);
	--theme-secondary-fg-1: oklch(0.90 0.10 298.86);
	--theme-secondary-bd-1: oklch(0.50 0.25 298.86);
	

	--theme-disabled-bg: #505050;
	--theme-disabled-fg: #a0a0a0;
	--theme-disabled-bd: #707070;

	--theme-positive-bg-0: oklch(0.60 0.35 150);
	--theme-positive-fg-0: oklch(0.95 0.05 150);
	--theme-positive-bd-0: oklch(0.75 0.35 150);
	--theme-positive-bg-1: oklch(0.40 0.35 150);
	--theme-positive-fg-1: oklch(0.90 0.10 150);
	--theme-positive-bd-1: oklch(0.50 0.35 150);
	
	--theme-warn-bg-0: oklch(0.70 0.35 100);
	--theme-warn-fg-0: oklch(0.95 0.05 100);
	--theme-warn-bd-0: oklch(0.80 0.35 100);
	--theme-warn-bg-1: oklch(0.50 0.15 100);
	--theme-warn-fg-1: oklch(0.90 0.10 100);
	--theme-warn-bd-1: oklch(0.60 0.15 100);

	--theme-negative-bg-0: oklch(0.65 0.35 28);
	--theme-negative-fg-0: oklch(0.95 0.05 28);
	--theme-negative-bd-0: oklch(0.80 0.25 28);
	--theme-negative-bg-1: oklch(0.40 0.35 28);
	--theme-negative-fg-1: oklch(0.90 0.10 28);
	--theme-negative-bd-1: oklch(0.55 0.30 28);

	--theme-error-bg: oklch(.10 .50 10);
	--theme-error-fg: oklch(.95 .01 10);
	--theme-error-bd: oklch(.30 .50 10);

	--theme-font: system-ui, sans-serif;

	--theme-border-width: 1px;
	--theme-border-radius: .25rem;
	
	--theme-shadow-spread: .25em;
	--theme-shadow-color: #000;
	--theme-shadow: 0 0 var(--theme-shadow-spread) var(--theme-shadow-color);
}