.area-split {
	--split: 0.5fr;
	--inverse-split: 0.5fr;

	--resize-visual-size: var(--theme-border-width);
	--resize-region-size: 16px;
	/* How large the interaction region extends beyond the handle, in negative units */
	--resize-region-extends: calc((var(--resize-visual-size) - var(--resize-region-size)) / 2);
	
	--resize-color: none;
	
	position: relative;
	display: grid;
	height: 100%;

	& > .area-resize {
		--resize-region-top: 0;
		--resize-region-left: 0;

		position: relative;
		width: 100%;
		height: 100%;
		user-select: none;

		background-color: var(--resize-color);

		& > .area-resize-region {
			position: absolute;
			inset: var(--resize-region-top) var(--resize-region-left);
		}
	}
	& > :is(.area-split-0, .area-split-1) {
		overflow: hidden;
	}

	&.axis-x {
		grid-template-columns: var(--split) var(--resize-visual-size) var(--inverse-split);
		& > .area-resize {
			--resize-region-left: var(--resize-region-extends);
			cursor: ew-resize;
		}
	}
	&.axis-y {
		grid-template-rows: var(--split) var(--resize-visual-size) var(--inverse-split);
		& > .area-resize {
			--resize-region-top: var(--resize-region-extends);
			cursor: ns-resize;
		}
	}
}