/* This file contains common css styling for menu-style components 
	(dropdownselect and contextmenu). */

@layer basic {
	
.menu {
	flex-direction: column;

	min-width: 7.5em;
	width: max-content;
	height: fit-content;
	
	padding: .5em;
	column-gap: .5em;
	
	overflow: visible;

	background-color: var(--theme-bg-0);
	color: var(--theme-fg-0);
	border: var(--theme-border-width) solid var(--theme-bd-0);
	border-radius: var(--theme-border-radius);
	box-shadow: var(--theme-shadow);

	&.nowrap {
		max-height: 40em;
		overflow-x: clip;
		overflow-y: auto;
		overflow-clip-margin: border-box 1em;
	}
	&:not(.nowrap) {
		max-height: 20em;
		flex-wrap: wrap;
	}
	&:popover-open {
		display: flex;
	}
}
.section {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	gap: 0.25em;

	&:not(:last-child) {
		margin-block-end: 0.25em;
	}

	& > .label {
		display: flex;
		flex-direction: row;
		gap: 0.25rem;

		user-select: none;
		opacity: 0.5;
		font-size: 0.75em;
		padding-inline: 0.25rem 0.5em;

		&.icon { padding-inline-start: 0; }
	}

	&:has(+ .item) {
		padding-block-end: 0.25em;
		border-block-end: var(--theme-border-width) solid var(--theme-bd-0);
	}
}
.item {
	display: flex;
	flex-direction: row;
	place-items: center;
	gap: 0.25em;

	padding-block: .25em;
	padding-inline-start: .75em;
	padding-inline-end: 1em;
	max-width: 20em;
	
	user-select: none;
	border-radius: var(--theme-border-radius);
	list-style: none;
	min-height: 1.75rem;

	:is(.section > menu, .menu):has(> .icon) > &:not(.icon) {
		padding-inline-start: 2em;
	}
	&.icon {
		padding-inline-start: .25em;
	}
	&.active {
		background-color: var(--theme-primary-bg-1);
		color: var(--theme-primary-fg-1);
	}
	&:hover, &:focus-visible {
		background-color: var(--theme-primary-bg-0);
		color: var(--theme-primary-fg-0);
	}
	&:focus-visible {
		z-index: 2;
	}
	& > .label {
		line-height: 1.25;
		vertical-align: middle;
	}
}

}