.selection {
	position: absolute;
	--selection-border-width: 2px;
	--selection-border-color: #68aef4;
	--selection-outline-width: 1px;
	--selection-outline-color: #000000;
	--selection-handle-size: 5px;
	--selection-handle-interaction-inset: -5px;
	--selection-handle-color: #d7e7ff;
	--selection-border: var(--selection-border-width) solid var(--selection-border-color);
	--selection-outline: var(--selection-outline-width) solid var(--selection-outline-color);

	--x: 0px;
	--y: 0px;
	left: calc(50% + (var(--x) - var(--viewport-x)) * var(--viewport-scale) - var(--selection-border-width));
	top: calc(50% + (var(--y) - var(--viewport-y)) * var(--viewport-scale) - var(--selection-border-width));

	border: var(--selection-border);
	outline: var(--selection-outline);

	user-select: none;

	&.dragging {
		cursor: move;
	}
}
.rect {
	--w: 0px;
	--h: 0px;
	width: calc(var(--w) * var(--viewport-scale) + 2 * var(--selection-border-width));
	height: calc(var(--h) * var(--viewport-scale) + 2 * var(--selection-border-width));
}
.circle {
	--r: 25px;
	width: calc(2 * var(--r) * var(--viewport-scale));
	height: calc(2 * var(--r) * var(--viewport-scale));
	translate: -50% -50%;
	border-radius: 50%;
}

.handle {
	position: absolute;
	width: var(--selection-handle-size);
	height: var(--selection-handle-size);
	background-color: var(--selection-handle-color);
	outline: var(--selection-outline);

	&.dragging {
		--selection-handle-interaction-inset: -1000vw;
	}
	&::after {
		content: "";
		position: absolute;
		inset: var(--selection-handle-interaction-inset);
	}

	&.left {
		right: 100%;
		top: 50%;
		translate: 0 -50%;
		cursor: ew-resize;
	}
	&.right {
		left: 100%;
		top: 50%;
		translate: 0 -50%;
		cursor: ew-resize;
	}
	&.top {
		left: 50%;
		bottom: 100%;
		translate: -50% 0;
		cursor: ns-resize;
	}
	&.bottom {
		left: 50%;
		top: 100%;
		translate: -50% 0;
		cursor: ns-resize;
	}
	
	&.top-left {
		right: 100%;
		bottom: 100%;
		cursor: nwse-resize;
	}
	&.top-right {
		left: 100%;
		bottom: 100%;
		cursor: nesw-resize;
	}
	&.bottom-left {
		right: 100%;
		top: 100%;
		cursor: nesw-resize;
	}
	&.bottom-right {
		left: 100%;
		top: 100%;
		cursor: nwse-resize;
	}
}