.viewport {
	position: absolute;
	inset: 0;

	& > :first-child {
		grid-area: 1 / 1 / 1 / -1;
	}
}
.viewport-canvas {
	display: grid;
	position: absolute;
	inset: 0;
	/* grid-area: 1 / 1 / -1 / -1; */
	overflow: hidden;

	& > * {
		/* Still the most consistent way to center stuff when they overflow */
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		/* outline: 2px solid #f0f; */
	}
	& > canvas {
		image-rendering: pixelated;
	}
}
.buttons {
	position: absolute;
	inset: 1em;
	top: auto;
	font-family: monospace; 
	
	display: flex;
	gap: .25em;
}