.viewport {
	position: absolute;
	inset: 0;
	padding: .5em;

	& > :first-child {
		grid-area: 1 / 1 / 1 / -1;
	}
}
.viewport-topbar {
	display: flex;
	gap: .5em;
}
.viewport-canvas {
	position: absolute;
	inset: 0;
	grid-area: 1 / 1 / -1 / -1;
	overflow: hidden;

	& > canvas {

	}
	& > * {
		/* width: 100%;
		height: 100%; */
	}
}
.buttons {
	position: absolute;
	inset: 1em;
	top: auto;
	font-family: "NKYJuliaMonoExtension", "JuliaMono", monospace;
	
	display: flex;
	gap: .25em;
}