.viewport {
	position: absolute;
	display: grid;
	align-items: start;
	inset: 0;
	user-select: none;

	--viewport-x: 0px;
	--viewport-y: 0px;
	--viewport-scale: 5;

	&.dragging {
		cursor: move;
	}
	&:focus-visible::after {
		content: "";
		pointer-events: none;

		position: absolute;
		inset: 0;
		box-shadow: inset 0 0 .125em .25em var(--theme-primary-bg-0);
	}
}
.viewport-canvas {
	position: absolute;
	inset: 0;
	/* grid-area: 1 / 1 / -1 / -1; */
	overflow: hidden;
	pointer-events: none;
	background: #f0f;

	& > * {
		position: absolute;
		/* outline: 2px solid #f0f; */
		/* scale: 0.5; */
	}
	& > canvas {
		/* --canvas-x: 0px;
		--canvas-y: 0px;
		left: calc(); */
		/* Still the most consistent way to center stuff when they overflow */
		top: 50%;
		left: 50%;
		translate: round(-50%, 1px) round(-50%, 1px);
		/* sharp image (no antialiasing) */
		image-rendering: pixelated;
	}
}
.viewport-empty {
	position: absolute;
	place-self: center;
}
.buttons {
	position: absolute;
	inset: 1em;
	top: auto;
	font-family: monospace; 
	
	display: flex;
	gap: .25em;
}
.selection {
	position: absolute;
	left: calc((var(--selection-start-x) - var(--viewport-x)) * var(--viewport-scale) + 50%);
	top: calc((var(--selection-start-y) - var(--viewport-y)) * var(--viewport-scale) + 50%);
	width: calc((var(--selection-end-x) - var(--selection-start-x)) * var(--viewport-scale));
	height: calc((var(--selection-end-y) - var(--selection-start-y)) * var(--viewport-scale));
	background: #2080ff20;
	pointer-events: none;
}