.viewport {
	position: absolute;
	inset: 0;

	--viewport-x: 0px;
	--viewport-y: 0px;
	--viewport-scale: 5;

	&.dragging {
		cursor: move;
	}
}
.viewport-canvas {
	position: absolute;
	inset: 0;
	/* grid-area: 1 / 1 / -1 / -1; */
	overflow: hidden;
	pointer-events: none;
	user-select: none;

	& > * {
		position: absolute;
		/* outline: 2px solid #f0f; */
		/* scale: 0.5; */
	}
	& > canvas {
		/* --canvas-x: 0px;
		--canvas-y: 0px;
		left: calc(); */
		/* Still the most consistent way to center stuff when they overflow */
		top: 50%;
		left: 50%;
		translate: round(-50%, 1px) round(-50%, 1px);
		/* sharp image (no antialiasing) */
		image-rendering: pixelated;
	}
}
.buttons {
	position: absolute;
	inset: 1em;
	top: auto;
	font-family: monospace; 
	
	display: flex;
	gap: .25em;
}