.settings {
	position: static;
	place-self: center;
	align-self: stretch;

	grid-column: 1 / -1;
	grid-row: 1 / -1;

	width: clamp(min(30em, calc(100% - 2em)), 75%, 60em);
	height: auto;
	margin-block: 1em;

	padding-inline: 3em;
	padding-block: 1em;

	background-color: var(--theme-bg-0);
	color: var(--theme-fg-0);
	border: var(--theme-border-width) solid var(--theme-bd-0);
	border-radius: var(--theme-border-radius);

	& h3 {
		font-size: 1.25em;
		margin-block-start: 1rem;
		margin-block-end: .25rem;
	}
	& ol {
		margin-inline-start: 3ch;
	}
}
.close-button {
	position: absolute;
	inset-inline-end: 2em;
	inset-block-start: 1.5em;
}
.settings-list {
	display: grid;
	
}